#map {
    height: 450px;
    width: 85%;
    margin-left: 120px;
    margin-right: auto;
}

.wrapper{
    width: 300px;
    margin-bottom: 120px;
    margin-top: 30px;
    margin-left: 500px;
    margin-right: auto;
}

.wrapper .search-input{
    width: 100%;
    border-radius: 3px;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
    position: relative;
}

.search-input{
    height: 45px;
    width: 500px;
    border-radius: 3px;
    font-size: 16px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
}

.search-input input{
    height: 45px;
    width: 300px;
    border-radius: 3px;
    padding: 0 60px 0 20px;
    font-size: 16px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
    background-color: rgb(255, 242, 225);
}

.search-input .autocom-box{
    max-height: 280px;
    width: 400px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
}

.autocom-box li{
    list-style: none;
    padding: 8px 12px;
    width: 340px;
    cursor: default;
    display: none;
}

.autocom-box li:hover{
    background-color: rgb(211, 240, 184);
}

.search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.search-input.active .autocom-box li{
    display: block;
}
